@media (max-width: 600px) {

    .banner-header {
        font-size: 40px !important;

    }

    .banner-description {
        font-size: 10px !important;
    }
}

.banner-header {
    font-size: 70px; 
    font-family: 'Mukta'
}

.movie-results {
    padding-right: 8%;
    padding-left: 5%;
}

.results-row {
    padding: 11% 5%;
    background-color: rgb(23, 44, 96);
}

.movie-poster {
    max-width: 300px;
    display: block;
}

.movie-details {
    word-wrap: break-word;
    color: white;
}